.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: max-content;
    padding: 80px 10%;
    overflow: hidden;
    position: relative;
}

.layout_bgImage {
    align-items: flex-start;
}

.layout_bgImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/bg1.svg"), url("../../assets/images/bg2.svg"), url("../../assets/images/bg3.svg"), url("../../assets/images/bg4.svg"), url("../../assets/images/bg5.svg"), url("../../assets/images/bg6.svg"), url("../../assets/images/bg3.svg"), url("../../assets/images/bg8.svg"), url("../../assets/images/bg9.svg"), url("../../assets/images/bg10.svg"), url("../../assets/images/bg11.svg"), url("../../assets/images/bg12.svg"), url("../../assets/images/bg13.svg"), url("../../assets/images/bg5.svg"), url("../../assets/images/bg15.svg"), url("../../assets/images/bg16.svg"), url("../../assets/images/bg17.svg"), url("../../assets/images/bg18.svg"), url("../../assets/images/bg19.svg"), url("../../assets/images/bg20.svg"), url("../../assets/images/bg21.svg"), url("../../assets/images/bottom.svg");
    background-position: 18% -4%, -1.5% 5%, 20% 10%, 80% 4%, 95% -8%, 47% 18%, 75% 10%, -5% 35%, 25% 33%, 75% 32%, 66% 42%, 105% 27%, -3% 55%, -3% 65%, 74% 55%, 95% 53%, 95% 60%, 104% 68%, 15% 82%, -10% 94%, 3% 91%, 75% 90%;
    background-repeat: no-repeat;
    z-index: -1;
}

.layout_bgImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242029;
    z-index: -1;
}

.layout_bgColor {
    background-color: #242029;
}

.layout_bg-after::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #6BFFCA;
    width: 80%;
    height: 80vw;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -1;
}

.layout_bg-before-after::before,
.layout_bg-before-after::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80vw;
    border-radius: 50%;
    z-index: -1;
}

.layout_bg-before-after::before {
    top: -70%;
    left: -40%;
    background-color: #6BFFCA;
    filter: blur(206px);
}

.layout_bg-before-after::after {
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-color: #9E00FF;
    filter: blur(260px);
}

.layout__title {
    width: 100%;
    text-align: center;
    font-size: 2.85rem;
    font-weight: 800;
}

.layout__title_light {
    color: #F3F6EF;
}

.layout__title_dark {
    color: #2F2A37;
}

.layout__title_left {
    text-align: left;
}

.layout__text {
    width: 70%;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #6E6C72;
    margin-bottom: 40px;
}

.layout .btn {
    margin-bottom: 40px;
}

.layout-possibiliy__nav {
    width: 100%;
    display: grid;
    gap: 30px;
    margin-bottom: 20px;
}

.layout-possibiliy__item {
    width: calc(100% - 20px);
    list-style-type: square;
    font-size: 1.4rem;
    color: #F3F6EF;
    left: 20px;
    position: relative;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-2 {
    margin-bottom: 20px;
}